input{
    box-sizing: border-box;
}

.chat-global{
    display: block;
    max-height: 300px;
    overflow-y: scroll;
    overflow-y: hidden;
}

body{
    background-color: #dc143b;
}

.white-c{
    color: white;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.socket{
    text-align: center;
    color:white; 
}